<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Application</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#addProductForm").submit(function (event) {
                var id = $("#productId").val();
                var name = $("#productName").val();
                $.post("http://localhost:9999/v1/products", {id: id, name: name}, function(data) {
                    alert(data);
                });
            });
        });
    </script>
</head>
<body>
    <div id="root">
        <form id="addProductForm" method="post">
            <input id="productId" type="text" />
            <input id="productName" type="text" />
            <button id="submitForm" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>